@import (css) url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900);
@import (css) url(https://fonts.googleapis.com/css?family=Courgette&display=swap);
  
html, body {
    font-family: "Roboto", sans-serif;
    height: 100%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    .MuiFormHelperText-root {
        margin: 3px 0px !important;
    }

    .MuiSnackbar-root {
        .MuiSnackbarContent-root {
            padding: 2px 16px !important;
            .MuiSnackbarContent-message {
                .client-snackbar {
                    font-size: 14px !important;
                }
            }        
        }
    }

    #root {
    height: 100%;

    .footer-container {
        background-color: #fff;
        color: #000;
        width: 100%;
        z-index: 999;
        border-top: 1px solid #e4e4e4;
        border-bottom: 1px solid #e4e4e4;
        box-shadow: none!important;
        font-size: 15px;
        position: fixed;
        bottom: 0px !important;

        span {
            font-size: 15px;
        }
    }
}
    
}




