.Topbar__Menu {
    top: 32px !important;

    .MuiMenu-list {
        padding-top: 0px !important;
        padding-bottom: 0px !important;

        .topbar_menuitem {
            border-bottom: 1px solid #E4E3E3 !important;
            padding: 8px;
        
            span {
                padding-left: 10px !important;
            }
        }
    }
}