.box {
	 font-size: 20px;
	 transition: 0.3s color, 0.3s border, 0.3s transform, 0.3s opacity;
	 left: 47%;
    top: 47%;
	position: absolute;
}

.loader {
	border: 0 solid transparent;
	border-radius: 50%;
    width: 60px;
    height: 60px;
}

.loading-text {
	color:  currentColor;
	font-size: 14px;
	letter-spacing: 1.3px;
}

.loader:before, .loader:after {
	 content: '';
	 border: 0.2em solid rgba(32,30,32, .6);
	 border-radius: 50%;
	 width: inherit;
	 height: inherit;
	 position: absolute;
	 top: 0;
	 left: 0;
	 animation: loader 1s linear infinite;
	 opacity: 0;
}

.loader:before {
	 animation-delay: 1s;
}

.loader:after {
	 animation-delay: 0.5s;
}

@keyframes loader {
	 0% {
		 transform: scale(0);
		 opacity: 0;
	}
	 50% {
		 opacity: 1;
	}
	 100% {
		 transform: scale(1);
		 opacity: 0;
	}
}
 